@charset "UTF-8";

*{margin: 0;
    font-family: Arial, Helvetica, sans-serif;}

.header-padding{padding: 190px 0;
    background: rgba(0, 0, 0, 0.235) url(imagens/blog.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: darken;}

header{text-align: center;
    color: white;
    text-shadow: 0px 0px 1px black;}

header h1{font-size: 5.0em;}

header h2{font-weight: normal;
    font-size: 1.3em;}







.article-margin{width: 50%;
    margin: auto;
    text-align: justify;
    padding: 10px;}

.article-margin h1{font-size: 2.1em;
    margin: 50px 0 10px 0;
    color: black;}

.article-margin h2{font-weight: normal;
    color: rgb(54, 53, 53);
    margin: 5px 0 5px 0;}

.article-margin a{text-decoration: none;
    color: rgb(114, 110, 110);}

@media(max-width: 640px){
    .article-margin{width: 90%;}
}

    




.olderposts{width: 50%;
    margin: auto;
    margin-top: 30px;
    text-align: right;}

.olderposts a{text-decoration: none;
    padding: 15px;
    background-color: rgb(54, 56, 204);
    color: white;
    font-weight: bold;
    font-size: 0.95em;}





footer{background-color: rgb(228, 228, 228);
    margin: 30px 0 0 0;
    padding: 5px 0;}

footer a{margin: 0 5px;}